<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}">Hautahi Kingi</a>
    </div>

    <div id="navbar" class="hidden-xs">
      <ul class="nav navbar-nav navbar-right">
		<li><a {% if page.url == '/' %} class="active"{% endif %}  href="{{ site.baseurl }}">Home</a></li>
        <li><a {% if page.url == '/work' %} class="active"{% endif %} href="{{ site.baseurl }}work">Work</a></li>
        <li><a {% if page.url == '/play' %} class="active"{% endif %}  href="{{ site.baseurl }}play">Play</a></li>
        <li><a target="blank" href="{{ site.baseurl }}static/docs/CV_H.Kingi.pdf">CV</a></li>
      </ul>
    </div>

	<div id="navbar" class="visible-xs">

 	<button type="button" data-toggle="collapse" data-target="#my-collapsible-menu"> MENU </button>

		<div class="collapse" id="my-collapsible-menu">
		  <ul class="nav navbar-nav">
			<li><a {% if page.url == '/' %} class="active"{% endif %}  href="{{ site.baseurl }}">Home</a></li>
			<li><a {% if page.url == '/work' %} class="active"{% endif %} href="{{ site.baseurl }}work">Work</a></li>
			<li><a {% if page.url == '/play' %} class="active"{% endif %}  href="{{ site.baseurl }}play">Play</a></li>
			<li><a target="blank" href="{{ site.baseurl }}static/docs/CV_H.Kingi.pdf">CV</a></li>
		  </ul>
	    </div>
  	</div>

  </div>
</nav>


