<section id="projects">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	
			<h6>
			<strong><a href="https://www.degruyter.com/view/j/bejte.2017.17.issue-1/bejte-2015-0132/bejte-2015-0132.xml" target="_blank">Welfare Analysis in an Extended Harris-Todaro Model: An Application of the Atkinson Theorem</a></strong><br>
			The B.E. Journal of Theoretical Economics, (17)1, 2017<br>
			<a class="WP3_ab"  href="#WP3" data-toggle="collapse">[Show Abstract]</a> [<a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2801374" target="_blank">Working Paper Version</a>]  <br>
				<div id="WP3" class="collapse">  
 				<p align="justify">
				I analyze the welfare effects of a policy of modern sector enlargement (MSENL), and a policy of increasing the efficiency of on-the-job search from the urban informal sector (IEOS) in a generalized Harris-Todaro model. I show that MSENL causes a Lorenz worsening of the income distribution and IEOS causes a Lorenz improvement. In a rare direct application of the Atkinson theorem, I conclude that MSENL decreases social welfare and IEOS increases social welfare for all anonymous, increasing and Schur-concave social welfare functions.
				</p>
				</div>  
			</h6>

			<h6>
			<strong><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2711499" target="_blank">The Effect of Tax Expenditures on Automatic Stabilizers: Methods and Evidence</a></strong> (with <a href="http://kylerozema.com/" target="_blank">Kyle Rozema</a>)<br>
			Journal of Empirical Legal Studies, Forthcoming 2017 <br>

				<div>  <a href="#WP2" class="wheels1" data-toggle="collapse">[Show Abstract]</a> </div> 
				
				<div id="WP2" class="collapse">  
 				<p align="justify">
				We analyze the effect of tax expenditures on the stabilizing power of the tax system. We propose a microsimulation strategy which exploits links that we identify between automatic stabilizers, tax expenditures, and effective marginal tax rates. Using the Survey of Consumer Finances from 1988 to 2009, we estimate that, on average, the Mortgage Interest Deduction and the Charitable Contributions Deduction increased the sensitivity of consumption to income fluctuations from a baseline of 0.14 by 1.13% and 0.97%, respectively.
				</p>
				</div>  
			</h6>

    </div>
  </div>

   <h3>Work in Progress</h3>

  <div class="panel panel-default">
    <div class="panel-body">

			<h6>
			<strong><a href="/static/docs/ImmigrationDynamics_Kingi.pdf" target="_blank">The Dynamic Effects of Immigration </a></strong><br>
			<div id="myCollapsibleExample">  <a class="jmp_ab" href="#jmp" data-toggle="collapse">[Show Abstract]</a> [<a href="https://github.com/hautahi/ImmigrationDynamics" target="_blank">Codes</a>] </div> 	

				<div id="jmp" class="collapse">
 				<p align="justify">
				I examine the welfare effects of immigration on United States workers. I build a dynamic search and matching model in which immigrants and natives differ according to their outside options, separation rates, wealth holdings and skill composition. Immigration affects native-born welfare by i) altering the skill composition of the labor force, ii) lowering the expected hiring cost of firms, and iii) altering the rate of return on wealth. I demonstrate that the transition period, during which the economy adjusts to immigration, involves both higher returns to wealth and inferior labor market conditions in comparison to the long run steady state. Thus, accounting for transition dynamics shifts the welfare effects of immigration in favor of wealthy households at the expense of workers.
				</p>
				</div>  
			</h6>

			<h6>
			<strong>The Reproducibility of Economics Research</strong> (with Sylverie Herbert, Flavio Stanchi and <a href="http://www.vilhuber.com/lars/" target="_blank">Lars Vilhuber</a>)<br>
			<div id="myCollapsibleExample">  <a class="rep_ab" href="#rep" data-toggle="collapse">[Show Abstract]</a></div> 				
				
				<div id="rep" class="collapse">
 				<p align="justify">
				Replication, reproduction, and falsification of published articles is an important part of the scientific endeavor. Apart from some notable exceptions, however, very few reproductions of economics articles are published or made available in any other public way. We describe and present the results of a large replication exercise. Of the 157 articles published in the <i>American Economic Journal: Applied Economics</i> for the years 2009-2014, 46 were successfully replicated.  Reproduced articles are found to have fewer citations than articles that use confidential data (and thus were not reproduced in this paper).
				</p>
				</div>  
			</h6>
    </div>
  </div>

   <h3>Code and Data</h3>

  <div class="panel panel-default">
    <div class="panel-body">

    	<h6>
				    <strong><a href="https://github.com/hautahi/Rugby-Wanderers" id="RugbyData" target="_blank">Rugby Wanderers</a></strong>
                   <p align="justify">
				   Dataset of playing statistics and birthplace information for every person to have played test rugby for the major nations. Python and R code used to webscrape and construct the data is also available. Download everything from the GitHub repository above. An analysis of the data can be found in <a href="http://hautahi.com/rugbywanderers" target="_blank">this blog post</a>.
				   </p> 

				   </h6>

				<h6><strong><a href="https://github.com/hautahi/taxliab" id="taxliab" target="_blank">Taxliab</a></strong>
 				<p align="justify">
				The NBER Stata command <span style="font-family: Courier New;">taxsim9</span> calculates federal and state income tax liability using 21 input variables. However, these variables do not include taxable income. <a href="http://kylerozema.com/" target="_blank">Kyle Rozema</a> and I therefore wrote Stata and Matlab programs to calculate US federal tax liability and marginal tax rates from nominal taxable income for years 1913 to 2013. Visit the GitHub repository above for installation instructions.
				
                </h6>

				  <h6><strong><a href="https://github.com/ncrncornell/Rmtcd" id="Rmtcd" target="_blank">Rmtcd</a></strong>
                   <p align="justify">
				   R package co-authored with Yuxin Chen, Alice Chou and <a  href="http://www.vilhuber.com/lars/" target="_blank">Lars Vilhuber</a> that provides an interface for implementing the source C++ programs of the statistical model proposed in <a href="https://github.com/labordynamicsinstitute/flow-synthesis/blob/master/doc/NTTS2013Paper123.pdf" target="_blank">Synthesizing Truncated Count Data for Confidentiality</a> by Sam Hawala, Jerry Reiter and Quanli Wang. Sponsored under <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1131848" target="_blank">NSF grant SES-1131897</a> to Cornell. Visit the GitHub repository above for instructions.
				   
				   </p> </h6>

					<h6><strong><a href="/static/docs/CL_Git_Notes_Kingi.pdf" id="GitNotes" target="_blank">GitHub and Command Line Notes</a></strong>
                   <p align="justify">
				   These notes form part of a workshop for the annual <a href="http://www.economics.cornell.edu/seminars/2014-high-performance-computing-economists-workshop" target="_blank"> High Performance Computing for Economists</a> camp held at Cornell University. The goal of the camp is to showcase high-performance techniques and tools targetted at 2nd year PhD students in economics and other social sciences. Trimmed down versions are also available: <a href="/static/docs/Slides_CommandLine_Kingi.pdf" target="_blank">Command Line Slides</a>, <a href="/static/docs/Slides_Git_Kingi.pdf" target="_blank">Git Slides</a>.
				   </p> </h6>

					<h6><strong><a href="https://github.com/hautahi/hautahi.github.io" id="Website" target="_blank">Website Source Code</a></strong>
                   <p align="justify">
				   This website is adapted from the <a href="https://github.com/biomadeira/sustain" target="_blank">sustain</a> template developed by <a href="http://biomadeira.github.io/" target="_blank"> Fabio Madeira</a>. It is hosted on <a href="https://pages.github.com/" target="_blank">Github Pages</a> and powered by <a href="http://jekyllrb.com/" target="_blank"> Jekyll</a>.
				   </p> </h6>
    </div>
  </div>

   <h3>Other Writings</h3>

  <div class="panel panel-default">
    <div class="panel-body">
    	<h6>
			<strong><a href="http://bwb.co.nz/books/fair-borders" target="_blank">Fair Borders? | Migration Policy in the Twenty-First Century</a></strong><br>
			<p align="justify">
			A chapter in an edited collection that draws together academic and nonacademic writers to discuss New Zealand immigration policy. It is published by <a href="http://www.bwb.co.nz/" target="_blank">Bridget Williams Books</a>. 		
			</p>		
		</h6>
    	<h6>
			<strong><a href="http://www.bwb.co.nz/books/the-piketty-phenomenon" target="_blank">The Piketty Phenomenon | New Zealand Perspectives</a></strong><br>
			<p align="justify">
			A chapter in a collection of responses to Thomas Piketty's Capital  from a range of New Zealand economists and commentators. It is published by <a href="http://www.bwb.co.nz/" target="_blank">Bridget Williams Books</a>. You can find media coverage by <a href="http://idealog.co.nz/venture/2014/10/piketty-downunder-new-book-offers-kiwi-perspective-inequality-and-why-it-matters-nz-business" target="_blank">idealog</a>, <a href="http://www.radionz.co.nz/national/programmes/ninetonoon/audio/20154344/the-piketty-phenomenon" target="_blank">Radio New Zealand</a>, and the <a href="http://www.nzherald.co.nz/business/news/article.cfm?c_id=3&objectid=11347301" target="_blank">New Zealand Herald</a>. 		
			</p>		
		</h6>
		<h6>
			<strong><a href="http://pantograph-punch.com/post/past-matters-tangata-whenua" target="_blank">The Past Matters: Reflections on Tangata Whenua</a></strong><br>
			<p align="justify">
			An essay in the <a href="http://pantograph-punch.com/" target="_blank">Pantograph Punch</a> reviewing <a href="http://tangatawhenua.bwb.co.nz/" target="blank">Tangata Whenua: An Illustrated History</a>, one of the first comprehensive histories of <a href="http://en.wikipedia.org/wiki/M%C4%81ori_people" target="blank"> M&#257ori</a>. Tangata Whenua was written by Atholl Anderon, Judith Binney and Aroha Harris, and published by <a href="http://www.bwb.co.nz/" target="_blank">Bridget Williams Books</a>.
			</p>
		</h6>
		<h6>
				  <strong><a href="http://www.listener.co.nz/culture/books/how-bazaar/" target="_blank">How bazaar</a></strong>
                  <p align="justify">
                  A review for the  <a href="http://www.listener.co.nz/" target="blank">New Zealand Listener</a> of <a href="http://www.hmhbooks.com/whogetswhat/index.html" target="blank">Who Gets What - and Why</a>, a book on Market Design by <a href="http://web.stanford.edu/~alroth/" target="blank"> Alvin Roth</a>.
                  </p>

		</h6>

				  <h6>
				  <strong><a href="/static/docs/BlankHoukamouKingi.pdf" target="_blank">Unconscious Bias and Education: A comparative study of  M&#257ori and African American students</a></strong>
                  <p align="justify">
                  A chapter in a report on unconscious bias and racial achievement gaps in New Zealand. My chapter reviews recent economic literature on racial achievement gaps in the United States, and attempts to draw comparisons between African American and M&#257ori educational and economic outcomes. You can find media coverage by <a href="https://www.maoritelevision.com/news/education/study-shows-teacher-bias-leads-maori-student-failure" target="_blank">Maori Television</a>, <a href="http://www.stuff.co.nz/national/education/81931922/Teachers-unconscious-bias-making-Maori-students-fail" target="_blank">stuff.co.nz</a>, and <a href="http://www.radionz.co.nz/news/te-manu-korihi/308960/bias-against-maori-in-education,-justice-children's-commissioner" target="_blank">Radio New Zealand</a>.
				  </p>

				  </h6>

    </div>
  </div>

</div>

</section>
