<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <!-- <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"> -->
	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
	
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">

	<!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/syntax.css" />

    <!-- Google Analytics -->
    {% include analytics.html %}
  </head>
  <!-- Main Body-->
  <body>
  <!-- Wrap all page content here -->
  <div id="wrap">
    <!-- Navbar header -->
    {% include header.html %}

    {{ content }}

  </div>
  <!-- Footer -->
  {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
    integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
    crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ site.baseurl }}static/js/docs.min.js"></script>
    <script src="{{ site.baseurl }}static/js/main.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}static/js/ie10-viewport-bug-workaround.js"></script>

	<!-- Add "hide abstract" functionality -->
<script>
$(document).ready(function(){
  $("#P1").on("hide.bs.collapse", function(){$(".P1_ab").html('[Show Abstract]');});
  $("#P1").on("show.bs.collapse", function(){$(".P1_ab").html('[Hide Abstract]');});
});
$(document).ready(function(){
  $("#jmp").on("hide.bs.collapse", function(){$(".jmp_ab").html('[Show Abstract]');});
  $("#jmp").on("show.bs.collapse", function(){$(".jmp_ab").html('[Hide Abstract]');});
});
$(document).ready(function(){
  $("#im").on("hide.bs.collapse", function(){$(".im").html('[Show Abstract]');});
  $("#im").on("show.bs.collapse", function(){$(".im").html('[Hide Abstract]');});
});
$(document).ready(function(){
  $("#demo").on("hide.bs.collapse", function(){$(".wheels").html('[Show Abstract]');});
  $("#demo").on("show.bs.collapse", function(){$(".wheels").html('[Hide Abstract]');});
});
$(document).ready(function(){
  $("#WP2").on("hide.bs.collapse", function(){$(".wheels1").html('[Show Abstract]');});
  $("#WP2").on("show.bs.collapse", function(){$(".wheels1").html('[Hide Abstract]');});
});
$(document).ready(function(){
  $("#MID").on("hide.bs.collapse", function(){$(".MID_ab").html('[Show Abstract]');});
  $("#MID").on("show.bs.collapse", function(){$(".MID_ab").html('[Hide Abstract]');});
});
$(document).ready(function(){
  $("#rep").on("hide.bs.collapse", function(){$(".rep_ab").html('[Show Abstract]');});
  $("#rep").on("show.bs.collapse", function(){$(".rep_ab").html('[Hide Abstract]');});
});
$(document).ready(function(){
  $("#WP3").on("hide.bs.collapse", function(){$(".WP3_ab").html('[Show Abstract]');});
  $("#WP3").on("show.bs.collapse", function(){$(".WP3_ab").html('[Hide Abstract]');});
});
</script>
	
  </body>
</html>

